<div class="px-6 content">
    <app-header class="header" [title]="'Catálogo'" />
    <app-side-menu class="flex justify-center pt-24 menu" />
    <main class="flex flex-col items-center items-start pt-24 main space-y-8">
        <div class="flex w-96">
            <app-input
                [type]="'text'" 
                [placeholder]="'Search'"
                (keyup)="onKey($event)"
                (keyup.enter)="searchMovie()"/>
            <app-button-icon
                (click)="searchMovie()"
                icon="heroMagnifyingGlass"
                iconAlt="buscar filme" />
        </div>

        @if (movieList$ | async; as movies) {
            @if(movies.results.length > 0) {
                <div class="flex flex-wrap justify-center">
                    @for (movie of movies.results; track movie.id) {
                        <app-card-item 
                            [item]="movie" 
                            [genres]="this.getGenreNames(movie.genre_ids)" />
                    }
                </div>
                <div>
                    <app-pagination
                    [currentPage]="currentPage"
                    [totalPages]="movies.total_pages"
                    (changePage)="changePage($event)"/>
                </div>
            } @else {
                <p class="text-2xl font-bold text-gray-800">Nenhum filme encontrado</p>
            }
        } @else {
            <p class="text-2xl font-bold text-gray-800">Carregando...</p>
        }
        <p class="text-2xl font-bold text-gray-800">{{ this.errorMessage }}</p>
    </main> 
</div>