<div class="flex pb-8 w-screen">
  <div class="rounded-lg bg-white p-2 shadow flex items-center card-list space-x-8">
    <img class="w-full rounded-lg image" src='https://media.themoviedb.org/t/p/w220_and_h330_face/{{this.item.poster_path}}' alt="product" />
    <div class="flex flex-col items-center">
      <p class="my-4 pl-4 font-bold text-gray-800">{{ this.item.title }}</p>
      <div class="flex flex-wrap justify-center gap-2">
        @for (genre of genres; track genre) {
          <div class="center relative inline-block select-none whitespace-nowrap rounded-full border border-orange-700 py-2 px-3.5 align-baseline text-xs font-bold uppercase leading-none text-orange-700">
            <div class="mt-px">{{ genre }}</div>
          </div>
        }
      </div>
      <p class="mb-4 ml-4 text-xl font-semibold text-gray-500 pt-6">Classificação: {{ this.item.vote_average }} / 10</p>
    </div>
  </div>
</div>