<div class="modal micromodal-slide" id='modal-movies' aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="text-center text-3xl font-bold" id="modal-1-title">
            {{ this.item.title }}
          </h2>
          <button class="modal__close" aria-label="Fechar essa janela de dialogo" data-micromodal-close></button>
        </header>
        <main class="flex flex-col items-center modal__content" id="modal-1-content">
          @if (this.config.images.base_url !== '' && this.item.poster_path !== null) {
            <img 
            class="w-full rounded-lg object-cover object-center card-image"
            src='{{ this.config.images.base_url }}/w500/{{this.item.poster_path}}'
            (error) ="onImgError($event)"
            [alt]="'poster do filme ' + this.item.title" />
          }
          <p class="pt-6 text-sm md:text-base">
            Descrição: {{ this.item.overview }}
          </p>
        </main>
        <footer class="flex justify-around modal__footer">
          <app-button 
          [text]="getButtonText()"
          (click)="addToFavorities()" />
          <app-button 
          [text]="'Fechar'"
          data-micromodal-close
          aria-label="Fechar essa janela de dialogo" />
        </footer>
      </div>
    </div>
  </div>