.content {
    height: 100vh;
    display: grid;
    grid-template: "menu header header header" 4rem
                    "menu main main main"
                    "menu main main main"
                    "menu main main main";
}

.main {
    height: fit-content;
    grid-area: main;
}

.header {
    grid-area: header;
    width: 85%;
}

.menu {
    grid-area: menu;
}

.close-icon {
    margin-bottom: -25px;
    z-index: 1;
}

.button-icon {
    width: 86%;
}