<div class="px-6 content">
    <app-header class="header" [title]="'Lista de desejos'" />
    <app-side-menu class="flex justify-center pt-24 menu" />
    <main class="flex flex-col items-center items-start pt-24 main space-y-8">
        <h1 class="grow text-center text-3xl font-bold">Sua lista de desejos</h1>
        <div class="flex items-center pt-6 gap-6">
            <h2 class="grow text-center text-3xl font-bold">Ordenar por:</h2>
            <app-button aria-label="Ordenar lista de filmes favoritos por mais novo" [text]="'Mais Novo'" (click)="orderBy('newst')" />
            <app-button aria-label="Ordenar lista de filmes favoritos por mais antigo" [text]="'Mais Antigo'" (click)="orderBy('older')" />
        </div>
        @if(this.favorites.length > 0) {
            <div class="flex flex-col flex-wrap justify-center w-screen">
                @for (favorite of this.favorites; track favorite.id) {
                    <div class="grid">
                        <div class="flex justify-end button-icon">
                            <app-button-icon
                            class="close-icon"
                            [icon]="'heroXMark'"
                            [iconAlt]="'Remover ' + favorite.title + ' da lista de desejos'"
                            (click)="removeFromFavorites(favorite.id)" />
                        </div>
                        <app-card-list-item 
                        [item]="favorite"
                        [genres]="this.getGenreNames(favorite.genre_ids)" />
                    </div>
                }
            </div>
        } @else {
            <p class="text-2xl font-bold text-gray-800">Nenhum filme encontrado</p>
        }

        <p class="text-2xl font-bold text-gray-800">{{ this.errorMessage }}</p>
    </main> 
</div>