<button class="py-2 px-2.5 ml-2.5 bg-orange-500 text-sm sm:text-base rounded-full font-medium border-2 border-transparent transition-colors outline-transparent focus:outline-transparent disabled:opacity-50 disabled:pointer-events-none disabled:opacity-40 disabled:hover:opacity-40 disabled:cursor-not-allowed disabled:shadow-none
text-white bg-[#4040F2] hover:bg-orange-700 focus:border-orange-700 focus:bg-orange-700 button" [attr.aria-label]="iconAlt">
    <ng-icon name={{icon}}></ng-icon>
</button>
