.card-image {
    max-height: 465px;
}

.card {
    max-height: 750px;
    min-width: 300px;
}

.card-list {
    width: 80%;
}

.image {
    height: 400px; 
    width: 300px;
}

@media (max-width: 700px) {
    .image {
        height: 400px; 
        width: 300px;
        aspect-ratio: 1 / 2;
    }

    .card-list {
        width: 90%;
    }
}